In [1]:
import pandas as pd

In [4]:
df = pd.DataFrame(
{"a" : [1 ,2, 3],
"b" : [4, 5, 6],
"c" : [7, 8, 9]},
index = [1, 2, 3])

In [7]:
pd.melt(df)

  variable  value
0        a      1
1        a      2
2        a      3
3        b      4
4        b      5
5        b      6
6        c      7
7        c      8
8        c      9

In [8]:
df

   a  b  c
1  1  4  7
2  2  5  8
3  3  6  9

In [1]:
import numpy as np
import statsmodels.api as sm

In [2]:
spector_data = sm.datasets.spector.load()

In [5]:
spector_data

In [6]:
spector_data.exog = sm.add_constant(spector_data.exog, prepend=False)

In [7]:
spector_data.exog

array([[ 2.66, 20.  ,  0.  ,  1.  ],
       [ 2.89, 22.  ,  0.  ,  1.  ],
       [ 3.28, 24.  ,  0.  ,  1.  ],
       [ 2.92, 12.  ,  0.  ,  1.  ],
       [ 4.  , 21.  ,  0.  ,  1.  ],
       [ 2.86, 17.  ,  0.  ,  1.  ],
       [ 2.76, 17.  ,  0.  ,  1.  ],
       [ 2.87, 21.  ,  0.  ,  1.  ],
       [ 3.03, 25.  ,  0.  ,  1.  ],
       [ 3.92, 29.  ,  0.  ,  1.  ],
       [ 2.63, 20.  ,  0.  ,  1.  ],
       [ 3.32, 23.  ,  0.  ,  1.  ],
       [ 3.57, 23.  ,  0.  ,  1.  ],
       [ 3.26, 25.  ,  0.  ,  1.  ],
       [ 3.53, 26.  ,  0.  ,  1.  ],
       [ 2.74, 19.  ,  0.  ,  1.  ],
       [ 2.75, 25.  ,  0.  ,  1.  ],
       [ 2.83, 19.  ,  0.  ,  1.  ],
       [ 3.12, 23.  ,  1.  ,  1.  ],
       [ 3.16, 25.  ,  1.  ,  1.  ],
       [ 2.06, 22.  ,  1.  ,  1.  ],
       [ 3.62, 28.  ,  1.  ,  1.  ],
       [ 2.89, 14.  ,  1.  ,  1.  ],
       [ 3.51, 26.  ,  1.  ,  1.  ],
       [ 3.54, 24.  ,  1.  ,  1.  ],
       [ 2.83, 27.  ,  1.  ,  1.  ],
       [ 3.39, 17.  ,  1.  ,  1.  ],
       [ 2.67, 24.  ,  1.  ,  1.  ],
       [ 3.65, 21.  ,  1.  ,  1.  ],
       [ 4.  , 23.  ,  1.  ,  1.  ],
       [ 3.1 , 21.  ,  1.  ,  1.  ],
       [ 2.39, 19.  ,  1.  ,  1.  ]])

In [9]:
mod = sm.OLS(spector_data.endog, spector_data.exog)
res = mod.fit()

In [10]:
print(res.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.416
Model:                            OLS   Adj. R-squared:                  0.353
Method:                 Least Squares   F-statistic:                     6.646
Date:                Sun, 26 Sep 2021   Prob (F-statistic):            0.00157
Time:                        14:17:52   Log-Likelihood:                -12.978
No. Observations:                  32   AIC:                             33.96
Df Residuals:                      28   BIC:                             39.82
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
x1             0.4639      0.162      2.864      0.008       0.132       0.796
x2             0.0105      0.019      0.539      0.594      -0.029       0.050
x3             0.3786      0.139      2.720      0.011       0.093       0.664
const         -1.4980      0.524     -2.859      0.008      -2.571      -0.425
==============================================================================
Omnibus:                        0.176   Durbin-Watson:                   2.346
Prob(Omnibus):                  0.916   Jarque-Bera (JB):                0.167
Skew:                           0.141   Prob(JB):                        0.920
Kurtosis:                       2.786   Cond. No.                         176.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.